.project-image{
  max-width:100%;
  max-height:80vh;
  margin-top:5vh;
  display:inline-block;
  border-radius:10px;
  box-shadow:0 0 10px #F3F3F3;
}

.project-information{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:flex-start;
  box-shadow:0 0 10px #F3F3F3;
  padding:20px 10px;
  border-radius:10px;
  background-color:white;
  z-index:1;
}

.project-image-container{
  width:100%;
  display:flex;
  justify-content:center;
}

.back-arrow{
  display:inline-block;
  position:absolute;
  top:15vh;
  right:0;
  cursor:pointer;
}

@media (max-width:1200px){
  .project-image{
    margin-bottom:10vh;
  }
  .back-arrow{
    top:10vh;
    right:5vw;
  }
}