.card{
  width:180px;
  min-height:180px;
  background-color:#F3F3F3;
  margin-bottom:31px;
  border-radius:10px;
  margin-right:31px;
  padding:30px 10px 10px 10px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.card img{
  width:60%;
}

.card p{
  margin:0;
  margin-top:10px;
}