@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

*{
  box-sizing: border-box;
  color:#4E4E4E;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rajdhani', sans-serif;
}

a{
  font-size: 20px;
}

h1{
  font-size:72px;
  font-weight: 600;
  margin:0;
}

h2{
  font-size:56px;
  font-weight:600;
  margin:0;
}